.topnav #backgroundimg {
  background-image: url('../images/Guest-Speakers.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 200px;
}

.speakers {
  margin-block: 0;
  border-top: 2px solid rgb(141, 141, 141);
  overflow: hidden;
  padding: 20px;
}

.speakers img {
 width: 300px;
 height: 300px;
 border-radius: 150px;
 object-fit: cover;
}

.leftImg {
  float: left;
  margin-right: 50px;
}

.rightImg {
  float: right;
  margin-left: 50px;
}

.speakers p {
  margin: 20px auto 0 auto;
  padding-inline: 50px;
}

.speakerMargin {
  margin-bottom: 110px;
}

.names {
  color: rgb(0, 61, 91);
  margin-bottom: 0;
}

@media screen and (max-width: 1229px) {
  .speakerMargin {
    margin-bottom: 160px;
  }
}

@media screen and (max-width: 925px) {
  .speakers img {
    height: 240px;
    width: 240px;
    float: none;
    margin-bottom: 10px;
    margin-inline: auto;
  }
  .speakerMargin {
    margin: inherit;
  }
  
}

@media screen and (max-width: 755px) {
  .speakers {
    padding-inline: 0;
  }
}