/* Navbar Text */

.topnav #backgroundimg {
  background-image: url('../images/Home\ Page\ Banner.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  padding-top: 300px;
}

p {
  margin-inline: 5%;
}

#sec1 {
  width: 80%;
  padding: 10px;
  position: relative;
  margin: auto;
  text-align: center;
}

.buttons {
  padding: 25px 40px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 50px;
  margin: 0 auto 60px auto;
  background-color: rgb(54, 54, 134);
  border-style: none;
  text-decoration: none;
  color: rgb(196, 196, 196);
  transition: all 0.2s;
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.2);
}

.buttons a {
  color: rgb(196, 196, 196);
}

.buttons:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
  color: black;
  font-size: 50px;
  margin: auto;
}

#register {
  margin: auto;
  top: 30%;
  position: relative;
}

footer {
  margin-top: 5%;
}

@media screen and (max-width: 1229px) {
  h1 {
    font-size: 45px;
  }
  footer {
    margin-top: 11%;
  }
}

@media screen and (max-width: 925px) {
  h1 {
    font-size: 40px;
  }
  footer {
    margin-top: 16%;
  }
}

@media screen and (max-width: 758px) {
  h1 {
    font-size: 35px;
  }
  center p {
    line-height: 17px;
  }
  footer {
    margin-top: 18%;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 30px;
  }
}