body {
  padding-top: 300px;
}

#sec1 {
  width: 80%;
  padding: 10px;
  position: relative;
  margin: auto;
  text-align: center;
}

h1 {
  text-align: center;
  color: black;
  font-size: 50px;
  margin: auto;
}

#register {
  margin: auto;
  top: 30%;
  position: relative;
}

.topnav #backgroundimg {
  background-image: url('../images/HomeBg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150px;
}

@media screen and (max-width: 925px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 755px) {
  h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 30px;
  }
}