/* Navbar Text */

#backgroundimg {
  background-image: url('../images/Toolbox.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150px;
}


/*
  ! Sustainability Compass Section !
*/


/* Sustainability Compass Div */

#sustainabilityCompassDiv {
  overflow: hidden;
}

/* Sustainability Compass */

#compassBox {
  margin-left: 5%;
}

.compass {
  width: 500px;
  transition: transform 0.5s ease-in-out;
}

.compass.clicked {
  transform: rotate(90deg);
}

/* Sustainability Compass Text */

.sustainabilityCompassText {
  margin: 135px 0 0 45%;
  line-height: 25px;
}

/* Sustainability Table Div */

#sustainabilityTableDiv {
  width: 90%;
  padding: 4.5% 0.5%;
  background-color: rgb(221, 239, 252);
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.5);
  border-radius: 70px;
}

/* Sustainability Table */

table {
  margin-inline: auto;
  width: 90%;
  border-spacing: 0;
  border-collapse: collapse;
}

table p {
  margin: 0;
  padding: 2px 4px;
}

th, td {
  border: none;
  font-size: 20px;
  padding: 2px 5px 2px 5px;
  text-align: left;
}

td {
  border-block: 2px solid rgba(0, 0, 0, 0.2);
}

th.Nature, td.Nature {
  background-color: rgb(96, 129, 96);
}

th.Economy, td.Economy {
  background-color: rgb(107, 107, 166);
}

th.Society, td.Society {
  background-color: rgb(206, 161, 78);
}

th.Wellbeing, td.Wellbeing {
  background-color: rgb(193, 90, 90);
}

table.nature th, table.nature td {
  background-color: rgb(96, 129, 96);
}

table.economy th, table.economy td {
  background-color: rgb(107, 107, 166);
}

table.society th, table.society td {
  background-color: rgb(206, 161, 78);
}

table.wellbeing th, table.wellbeing td {
  background-color: rgb(193, 90, 90);
}

.mobileTable {
  display: none;
}


/* 
  ! Inner Development Goals Section !
*/


/* Inner Development Goals Image */

#developmentGoals {
  margin-top: 0;
  width: 90% /*1106px*/;
}

/* Investigation Image */

#investigation {
  width: 30%;
}


/* 
  ! MISO Method Section !
*/


/* MO-GO Questionnaire */

#mogoQuestionnaire {
  text-align: left;
}

/* MO-GO Questions Table */

#mogoQuestionsTable td {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(0, 171, 229);
}

/* Taking Action Image */

#takingAction {
  margin-top: 50px;
  width: 60%
}


/*
  ! Root Cause Analysis Tree Section !
*/


/* Root Cause Tree Image */

#rootCauseTree {
  width: 60%
}


/* 
  ! Iceberg Tool Section !
*/


/* Iceberg Tool Divs */

.icebergToolDiv {
  overflow: hidden;
}

.icebergToolDivMobile {
  display: none;
}

/* Iceberg Image */

#icebergImage {
  width: 100%
}

#icebergBox {
  margin-right: 5%;
  width: 500px;
  margin-bottom: 50px;
}

/* Iceberg Text */

#icebergText {
  width: 50%;
  float: left;
  margin: 130px 0 0 0;
}

/* 
  ! Media Queries !
*/


@media screen and (max-width: 1229px) {
  p {
    line-height: 20px;
  }
  .compass {
    width: 350px
  }
  .sustainabilityCompassText {
    margin-top: 80px;
  }
  #investigation {
    width: 40%;
  }
  #icebergBox {
    width: 400px;
  }
  #icebergText {
    margin-top: 70px;
  }
}

@media screen and (max-width: 925px) {
  p {
    line-height: normal;
  }
  #sustainabilityTableDiv {
    border-radius: 50px;
  }
  .compass {
    width: 280px;
  }
  .sustainabilityCompassText {
    margin-top: -25px;
  }
  #investigation {
    width: 50%;
  }
  #icebergBox {
    width: 340px;
  }
  #icebergText {
    margin-top: 25px;
  }
}

@media screen and (max-width: 758px) {
  #sustainabilityTableDiv {
    padding: 7% 4%;
    border-radius: 40px;
  }
  .compass {
    width: 220px;
  }
  .sustainabilityCompassText {
    margin-top: -50px;
  }
  #investigation {
    width: 60%;
  }
  #takingAction, #rootCauseTree {
    width: 70%;
  }
  #icebergBox {
    width: 240px;
    margin-top: 10px;
  }
  #icebergText {
    margin-top: -50px;
  }
}

@media screen and (max-width: 550px) {
  #sustainabilityTableDiv {
    padding: 7% 4%;
    border-radius: 30px;
    width: 90%;
  }
  .compass {
    width: 200px;
  }
  #compassBox {
    margin: 0 auto;
    float: none;
  }
  .sustainabilityCompassText {
    clear: both;
    margin-top: 30px;
    margin-left: 0;
  }
  #compassBox p {
    margin-top: 10px;
  }
  .normalTable {
    display: none;
  }
  .mobileTable {
    display: table;
  }
  .mobileTable th, .mobileTable td {
    font-size: 11px;
  }
  #investigation {
    width: 70%;
  }
  #takingAction, #rootCauseTree {
    width: 80%;
  }
  .icebergToolDiv {
    display: none;
  }
  .icebergToolDivMobile {
    display: block;
  }
  #icebergBox {
    float: none;
    clear: both;
    margin: 0;
  }
  #icebergText {
    clear: both;
    width: 100%;
  }
}