.topnav #backgroundimg {
  background-image: url('../images/BAnnerthing.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

li {
  list-style-type: none;
}